body {
	font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
	font-size: 16px;
	line-height: 1.7;
	
	background-color:#2A2A2E;
	color: #9CC3D5FF;
}

.sidenav {
	background-color:#38383D;
	color: #F0F0F5;
}

.sidenav a:hover {
	background-color: #4C4C51;
}

.sidenav a {
	color: #F0F0F5 !important;
}

.sidenav a:visited {
	color: #F0F0F5;
}

.sidenav-current-page {
	background-color: #238636;
}

.sidenav-current-page:hover {
	background-color: #2EA043 !important;
}
